*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html{
    max-height: 100%;
}
body{
    background-color: $bg-body-desktop;
    animation: animate 1s ease-in-out normal;
}
main{
    background-color: $bg-body-mobile;
    height: 100%;
}