$primary-color:hsl(14, 45%, 36%);
$secondary-color:hsl(332, 51%, 32%);
$bg-container-prep:hsl(330, 100%, 98%);
$bg-body-mobile:hsl(0, 0%, 100%);
$bg-body-desktop:hsl(30, 54%, 90%);
$subtitle-heading:hsl(24, 5%, 18%);
$bg-text-first:hsl(30, 18%, 87%);
$bg-text-second:hsl(30, 10%, 34%);